body {
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
}
.Light{
    background-color: #fafafa;
}
.Dark{
    background-color: #222222;
    color: white;
}


.Light .borderBelow{
    border-bottom: medium solid #000000;
}
.Dark .borderBelow{
    border-bottom: medium solid #ffffff;
}

.settingLabel{
    margin-right: 1em;
    font-weight: bold;
}
.settingChoice{
    cursor: pointer;
    margin-right: 0.5em;
}
.Light .settingActive{
    color: red;
}
.Dark .settingActive{
    color: #ff9295;
}

td > img{
    vertical-align: middle;
}
.fontContainer{
    padding: 0.5em;
}

.aa_mode{
    width: 1em;
}
.aa0{
    background-color: red;
}
.aa1{
    background-color: green;
}
.contentContainer{

}